{% extends "base.html" %}

{%block title%}Dashboard{%endblock%}
{%block body%}


<div class="container">
    <div class="row">

        <h1 class="my-5">Dashboard</h1>
        <a href="/home/logout">logout</a>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 mt-2">
                    <img src="../image/{{data.image}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{data.name}}</h5>
                        <p class="card-email">{{data.email}}</p>
                        <p class="card-text">{{data.gender}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}