{%extends "base.html" %}

{%block title%}Form{%endblock%}
{%block body%}

{%if ans %}
<p>logged in</p>
{% endif %}

{% if err %}
  
     {%for value in err%}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="alert alert-danger" role="alert">
                    <p>{{value}}</p>
                </div>
            </div>
        </div>
    </div>
     {%endfor%}
   
{% endif %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <h2>SIGN IN</h2>
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="name" class="form-control" name="name" aria-describedby="nameHelp">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                </div>
                <input type="submit" name="submitbtn" class="btn btn-primary" value="Submit" />
            </form>
        </div>
    </div>
</div>
    {%endblock%}